.container{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px 200px;
}

.container img{

    width: 250px;
    height: 200px;
    object-fit: cover;
}